

h1{
    color: #fff8cc;
    font-weight: normal;
    background-color: #45372d;
    border-radius: 30px;
    font-family:'Lobster', cursive;
    font-size: 3em;
    border: 12px double #dcc329;
    text-shadow: 3px 3px 4px #fff8cc;
    text-align: center;
    box-shadow: 25px 25px 25px #45372d;
    padding: 2% 10% 2% 10%;
    
} 
h2.monsieur{
    color: #883700;
    font-size: 40px;
     text-align: center;

}
body {

background-color: #fff8cc;

}
.paragrapheEX{
    color: #fff8cc;
    font-size: 30px;
    background-color: #45372d;
    border-radius: 10px;
    text-align: center;
    border: 12px dashed #dcc329;
}
.adress{

    color:#883700; 
    font-size: 35px;

}
.adress span{
    font-weight: bold;
}
.adresss{

    text-decoration: underline;
}

img{
    width: 500px;
    text-align: center;
}
.contact{
    padding-top: 10px;
    font-size: 30px;
    color:#883700;
    text-align: center;
} 
h3{
    font-size: 25px;
    font-weight: normal;
    color:#dcc329;
    text-decoration: underline;
}
img.img2{
    width: 200px;
    border: 7px dotted #45372d;
}
h4.paris{
    font-size: 25px;
    font-weight: normal;
    color:#dcc329;
    text-decoration: underline;
}
img.img3{
    width: 200px;
    border: 7px dotted #45372d;
}

h5{
    font-size: 25px;
    font-weight: normal;
    color:#dcc329;
    text-decoration: underline;
}
img.img4{
    width: 200px;
    border: 7px dotted #45372d;
}
h6{
    font-size: 25px;
    font-weight: normal;
    color:#dcc329;
    text-decoration: underline;
}
img.img5{
    width: 200px;
    border: 7px dotted #45372d;
}
.MisEnAvant{
    padding-top: 2%;
    display: flex;
    flex-direction: row;

}
.misEnAvant{
    padding-top: 2%;
    display: flex;
    flex-direction: row;

}
.MisEnAvantS{
    display: flex;
    
    
}

.horaires{
    font-size: 30px;
    color:#883700;
}



